body {
	background-color: #2F8FEA;
}
#titulo1{
	margin-top: 20px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
#texto1{
	font-size: 24px;
	text-align: center;
}
#icon1{
    margin-top: 0px;
    margin-right: 610px;
	margin-left: 50px;
}
#icon_1{
	width: 95px;
	height: 95px;
}
#icon2{
	margin-top: -75px;
    margin-bottom: 0px;
	margin-left: 1080px;
	margin-right: 0px;
}
#icon_2{
	width: 220px;
	height: 50px;
}
.zoom {
	transition: width 2s,height 2s, transform 2s;
	-moz-transition: width 2s,heigt 2s,-moz-transform 2s;
	-webkit-transition: width 2s,height 2s,-webkit-transform 2s;
	-o-transition:width 2s,height 2s,o-transform 2s;

}
.zoom:hover{
	color: black;
	transform: scale (1.4);
	-moz-transform:scale(1.4);
	-webkit-transform: scale(1.4);
	-o-transform: scale(1.4);
}
#uno {
	border: 2px solid black;
	background-color: black;
	margin-top: 50px;
	margin-left: 50px;
	width: 1210px;
	height: 962px;
}
#uno_uno1{
    background-color: black ;
    margin-top: -480px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 2px;
	width: 177px;
	float: left ;
	height: 960px;
}
/*________________________________________*/
#mostrar{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: arial;
}
/*................................................3.3.3.*/
/*---------------------------------*/
#publicidad{
	background-color: white;
	float: left;
	width: 170px; 
	height: 230px;;
}
.publicidad {
	width: 170px; 
	height: 230px;
  margin: auto;
  overflow: hidden;
}
.publicidad ul {
  display: flex;
  padding: 0;
  width: 400%;
 animation: cambio 25s infinite alternate linear;
}

.publicidad li {
	width: 170px; 
	height: 230px;
  list-style: none;
}

.publicidad img {
	width: 170px; 
	height: 230px;
}

@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}
/*.............................................................*/


#uno_uno{
    background-color: none ;
    margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 180px;
	float: left ;
	height: 960px;
}
#linksvertical{
	border-right: 3px solid black;	
	height: 240px;
	margin-top: 0px;
	background-color: rgb(127,179,213);
}
.lista{
	font-family: arial;
}
.lista:hover{ 
    margin-left:-3px;
    -webkit-transition:margin-left .4s;
}
#defi1{
	border-right: 3px solid black;
	border-top: 3px solid black;
	margin-top: -50px;
	height: 237px;
	background-color: rgb(84,153,199);
}
#defi2{
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	height: 240px;
	margin-top: 2px;
	background-color: rgb(41,128,185);
}
#descrip1{
	margin-top: 0px;
	text-align: center;
	font-size:20px;
}
#descrip2{
	margin-top: 0px;
	text-align: center;
	font-size:20px;
}

.cuerpoMV{
	font-size: 14.5px;
	font-family: arial;
	margin-left: 5px;
}
#redesociales{
	border-right: 3px solid black;
	height: 236px;
	margin-top: -12px;
	background-color: rgb(27,107,162);
}
#redes{
	font-size: 18px;
	text-align: center;
}
#face{
	margin-right: 10px;
	margin-bottom: -9px;
	width: 25px;
	height: 25px;
}
#Blog{
	margin-right: 10px;
	margin-bottom: -7px;
	width: 20px;
	height: 20px;
}
#Twitter{
	margin-right: 10px;
	margin-bottom: -6px;
	width: 20px;
	height: 20px;
}
#instagram{
	margin-right: 10px;
	margin-bottom: -5px;
	width: 20px;
	height: 20px;
}
#programacion{
	margin-left: 370px;
	height: 35px;
	width: 215px;
	text-align: center;
	font-size: 25px;

}
.menu2{ 
	margin-top: 50px;
	margin-bottom: 50px;
    background-color: none;
    margin-left: 0px;
}
.menu2 ul{ 
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu2 ul li{
    display: inline-block;
}
.menu2 ul li a{ 
    color: black; 
    display: block; 
    padding: 14px; 
    margin-left: 15px;
    text-decoration: none;
}
.menu2 ul li a:hover{ 
	color: white;
    background-color: #922B21;
    width: 154px;
    margin-left:-3px;
    -webkit-transition:margin-left .4s;
    -webkit-transition:color .3s;
}
#uno_dos{
    background-color: #EBEDEF  ;
    margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 1030px;
	float:left ;
	height: 480px;
}
#descripcion_1{
	font-size: 15px;
	font-family: arial;
	margin-left: 12px;
	background-color: none;
	width:500px;
}
#descripcion_2{
	font-size: 15px;
	font-family: arial;
	margin-left:12px; 
	background-color: none;
	width: 500px;
}
#img_1{
	width: 320px;
	height: 140px;
	margin-right: 0px;
	margin-left: 630px;
	margin-top:-200px;
	margin-bottom: 50px;
	-webkit-border-radius:10%; 
	border:solid #1A5276 ;
}
#img_2{
	margin-top: -600px;
	margin-left: 500px;
	width: 320px;
	height: 160px;
	margin-right: 0px;

	margin-bottom: 30px;
	-webkit-border-radius:10%;
	border:solid #922B21;
}
#menu{
	border-bottom: 3px solid black;
    background-color: rgb(27,107,162);
    width: 1030px;
    margin-left: 0px;
}
#menu ul{ 
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{ 
    color: black; 
    display: block; 
    padding: 15px; 
    margin-left: 29px;
    text-decoration: none;
}
#menu ul li a:hover{
    -webkit-transition:color .3s; 
	color:white;
    background-color: #922B21;
}
#uno_tres{
	border-top: 3px solid black;
    background-color: #EBEDEF  ;
    margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 1030px;
	float:left ;
	height: 478px;
}
#descripcion_3{
	margin-left: 20px;
	margin-bottom: 120px;
	margin-top: 60px;
	width: 500px;
}
#descripcion_4{
	margin-left: 20px;
	margin-bottom: 120px;
	margin-top: 60px;
	width: 500px;
}
#imgdescarga{
	margin-top:-26px; 
	margin-bottom: 20px;
	margin-left: 115px;
	width: 80px;
	height: 80px;
}
#imgdescarga {
 -webkit-transition: all 0.3s ease-out;
 -moz-transition: all 0.3s ease;
 -ms-transition: all 0.3s ease;
}
#imgdescarga:hover {
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 transform: rotate(180deg);
}
#video{
	margin-left: 400px;
	margin-top: -380px;
	width: 500px;
}
#uno_cuatro{
	border-top:3px solid black;
	background-color: rgb(27,107,162) ;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 1030px;
	height: 50px;
}
.Ultimo{
	font-family: "arial black";
	text-align: center;
	font-size: 10px;
	color:#1B2631;
}
#alumno{
	margin-left: -290px;
	display: block;
	margin-bottom: 0px;
	margin-top: 20px;
	background-color:orange;
	width: 300px;
	height: 20px;
}
#alumno:hover{
    -webkit-transition:margin-left .4s; 
	margin-left: -5px;
	color: black;
}
.flota{
	margin-top: -15px;
    animation: movimiento 3s linear infinite;
}
@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0);
    }
}